<%- include('../layouts/headeradmin'); -%>

    <button type="submit" class="btn btn-outline-success m-2" style="position: relative; float: right;"><i class="fas fa-print"></i> Print</button>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">NAME</th>
                <th scope="col">LOCATION</th>
                <th scope="col">NUMBER</th>
                <th scope="col">MEDECINE</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">IMAGE</th>
                <th scope="col">CATEGORY</th>
                <th scope="col">PRICE</th>
            </tr>
        </thead>
        <tbody>                
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>    
        </tbody>
    </table>
  <%- include('../layouts/footer'); -%>