<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top" style="background-image: url('img/log.png')">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h2>My Pharmacy<img src="images/log.png" style="width: 90px; height: 30px;"></h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"><i class="fas fa-home"></i>  Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news"><i class="fas fa-newspaper"></i>  News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product"><i class="fas fa-pills"></i>  Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-address-card"></i>  About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="fas fa-id-card-alt"></i>  Contact</a>
          </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle"></i>  User managment
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#"><i class="fa fa-user" aria-hidden="true"></i>  User Account</a>
          <span role="separator" class="divider"></span>
          <a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt"></i> Logout</a>
        </div>
      </li>
        </ul>
      </div>
    </div>
  </nav>