<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link rel="icon" type="image/png" href="../images/log.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<h2>My Pharmacy<img src="../images/log.png" style="width: 90px; height: 30px;"></h2>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/"><i class="fas fa-home"></i> Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/news"><i class="fas fa-newspaper"></i> News</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about"><i class="fas fa-address-card"></i> About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact"><i class="fas fa-id-card-alt"></i> Contact</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/how-to-buy"><i class="fas fa-id-card-alt"></i> How to use</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container mt-4">
		<%- include('../partials/messages.ejs'); -%>

		<div class="jumbotron mt-5">
			<h1 class="display-4">How to buy?</h1>
			<button type="button" class="btn btn-warning" data-toggle="modal">
				Note:
			</button>
			<p class="lead">Do you need your medication fast? you can pay online using Visa Card or Master Card and pick up at
				participanting
				pharmacy</p>
			<hr class="my-4">
		</div>
		<div class="jumbotron mt-5">
			<button type="button" class="btn btn-primary" data-toggle="modal">
				First Step:
			</button>
			<p class="lead"> Have you been prescribed this medication?
				You must have medical prescription from one health center or Hospital
			</p>
		</div>
		<div class="jumbotron mt-5">
			<button type="button" class="btn btn-primary" data-toggle="modal">
				Second Step:
			</button>
			<p class="lead">Enter you email and Continue</p>
		</div>
		<div class="jumbotron mt-5">
			<button type="button" class="btn btn-primary" data-toggle="modal">
				Third step:
			</button>
			<p class="lead">You can choose any medical you want according to your prescription</p>
		</div>
		<div class="jumbotron mt-5">
			<button type="button" class="btn btn-primary" data-toggle="modal">
				Fourth step:
			</button>
			<p class="lead">Add quantity and choose pharmacy according to your prescription</p>
		</div>
		<div class="jumbotron mt-5">
			<button type="button" class="btn btn-primary" data-toggle="modal">
				Fifth step:
			</button>
			<p class="lead">Click on checkout Now button to be ready to pay</p>
		</div>
		<div class="jumbotron mt-5">
			<button type="button" class="btn btn-primary" data-toggle="modal">
				Final step:
			</button>
			<p class="lead">
				<ol>
					<li>Fill the Form by add your names</li>
					<li>Add credit card or Master card number</li>
					<li>Click on Submit payment</li>
				</ol>
			</p>
		</div>

		<%- include('../layouts/footer'); -%>