<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Register</title>
</head>
<body>
    <% if (message.length > 0) { %>
        <div><%= message %></div>
    <% } %>

    <form action="/signup" method="post">
        <table>
            <tr>
                <td>
                    <label for="">First name</label>
                </td>
                <td>
                    <input type="text" name="first" id="">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Last name</label>
                </td>
                <td>
                    <input type="text" name="last" id="">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Gender</label>
                </td>
                <td>
                    <input type="text" name="gender" id="">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Phone</label>
                </td>
                <td>
                    <input type="text" name="phone" id="">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">email</label>
                </td>
                <td>
                    <input type="text" name="email" id="">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Address</label>
                </td>
                <td>
                    <input type="text" name="address" id="">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="">Password</label>
                </td>
                <td>
                    <input type="password" name="password" id="">
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Register</button></td>
            </tr>
        </table>
    </form>
    <hr>
    <p>Account <a href="/signup">Register</a></p>
    <p>Go back <a href="/">Home</a></p>
</body>
</html>